/* Importando font pirata */
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

/* Estilizando TAGS - INICIO*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
    font-family: 'Pirata One', cursive;
    color: #ffffff;
    box-sizing: border-box;
    /* Variáveis */
    --header-height: 90px;
    --color-red: #ff0000;
}

a {
    text-decoration: none;
}

body {
    background: #000;
}

main {
    padding: var(--header-height) 0 0 0;
}

/* Estilizando TAGS - FIM*/

/* Conteúdo ao entrar no site - INICIO */
#content-1 {
    height: 100vh;
    width: 100vw;
    transition: 2s;
    background: #000;
}

#fig-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    height: 100%;
    width: 100%;
    row-gap: 3em;
    transition: 2s;
    user-select: none;
}

#fig-logo img {
    width: 65%;
    transition: 2s;
}

#fig-logo figcaption {
    font-size: 20px;
    transition: 2s;
    box-shadow: none !important;
}

#fig-logo div {
    position: absolute;
    top: 68%;
    height: 25%;
    width: 100%;
}

/* Efeito de pulsação */
.pulse {
    animation: pulse 2s infinite;
    display: table;
    animation-direction: alternate;
    animation-name: pulse;
    z-index: 1;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 6em 5px #6B0000, inset 0 0 20vw 5px #6B0000;
        filter: brightness(20%);
    }

    100% {
        box-shadow: 0 0 13em 10px var(--color-red), inset 0 0 40vw 5px var(--color-red);
        filter: brightness(100%);
    }
}

.pulseParticle {
    animation: pulse 2s infinite;
    animation-direction: alternate;
    animation-name: pulseParticle;
}

@keyframes pulseParticle {
    0% {
        filter: brightness(20%);
    }

    100% {
        filter: brightness(100%);
    }
}

/* Conteúdo ao entrar no site - FIM */

/* Conteúdo 1 (Narração) - INICIO */

#art-storyteller {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    height: 100vh;
    width: 65vw;
    row-gap: 3em;
    transition: 2s;
    user-select: none;
    opacity: 0;
}

#art-storyteller span {
    font-size: 25px;
}

/* Conteudo 1 (Narração) - FIM */

/* Conteúdo 2 (Parte padrão) */
/* Header (barra de navegação) - INICIO */
#header {
    position: fixed;
    height: 90px;
    width: 100%;
    background: linear-gradient(90deg, #850000, #6B0000, #220101);
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    z-index: 1;
}

#header img {
    height: 80%;
    padding: 0 0 0 40px;
}

#header nav {
    padding: 0 40px 0 0;
}

#header nav ul {
    display: flex;
    gap: 20px;
    font-size: 20px;
    text-shadow: 2px 2px 2px var(--color-red);
}

#header nav ul li a:hover {
    color: var(--color-red);
    text-shadow: 0 0 0 transparent;
    transition: 250ms ease-in-out;
}

/* Header (barra de navegação) - FIM */

/* INICIO - Carrosel (carrosel com as imagens) */
.box-carousel {
    position: relative;
    box-shadow: 2px 2px 4px #000;
    overflow: hidden;
    height: 60vh;
    margin: auto;
    width: 100%;
    background: #220101;
}

#carousel {
    height: 100%;
    display: flex;
    transition: transform 500ms ease-in-out;
    transform: translateX(0);
}

#carousel img {
    object-fit: cover;
    width: 500px;
}

#btn-carousel {
    position: absolute;
    top: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.btn-span {
    height: 30px;
    width: 30px;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: pointer;
}

.active {
    background: #ca1616 !important;
}

/* FIM - Carrosel (carrosel com as imagens) */

/* Sobre one piece - INICIO */
.about {
    background-color: #220101;
    margin: 20px 0;
    padding: 20px 40px;
}

.about h2 {
    text-align: center;
}

.art-about {
    display: flex;
    justify-content: space-between;
}

.art-about div {
    width: 55%;
}

.art-about p {
    margin: 20px 0 0 0;
    font-size: 17px;
    text-indent: 20px;
}

.art-about img {
    height: 400px;
}
.art-about figcaption {
    padding: 0 0 0 20px;
}

/* Sobre one piece - FIM */

/* Rodapé - INICIO */
#footer {
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(90deg, #850000, #6B0000, #220101);
}

#footer ul {
    display: flex;
    gap: 20px;
}

/* Rodapé - FIM */