/* Importando font pirata */
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

/* Estilizando TAGS - INICIO*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
    font-family: 'Pirata One', cursive;
    color: #ffffff;
    /* Variáveis */
    --header-height: 90px;
    --color-red: #ff0000;
}

a {
    text-decoration: none;
}

body {
    background: #000000;
    transition: 2s;
}

/* Estilizando TAGS - FIM*/

/* Conteúdo ao entrar no site - INICIO */
#fig_inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    height: 100vh;
    width: 65vw;
    row-gap: 3em;
    transition: 2s;
    user-select: none;
}

#img_logoShanks {
    width: 100%;
    transition: 2s;
}

/* Efeito de pulsação */
/* .pulse {
    animation: pulse 2s infinite;
    display: table;
    animation-direction: alternate;
    animation-name: pulse;
    z-index: 1;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 6em 5px #6B0000, inset 0 0 20vw 5px #6B0000;
        filter: brightness(20%);
    }

    100% {
        box-shadow: 0 0 13em 10px var(--color-red), inset 0 0 40vw 5px var(--color-red);
        filter: brightness(100%);
    }
} */

#figC_message {
    color: #ffffff;
    font-size: 20px;
    transition: 2s;
    box-shadow: none !important;
}

#particles-container {
    position: absolute;
    top: 68%;
    height: 25%;
    width: 100%;
}

.pulseParticle {
    animation: pulse 2s infinite;
    animation-direction: alternate;
    animation-name: pulseParticle;
}

@keyframes pulseParticle {
    0% {
        filter: brightness(20%);
    }

    100% {
        filter: brightness(100%);
    }
}

/* Conteúdo ao entrar no site - FIM */

/* Conteúdo 1 (Narração) - INICIO */

#content_1 {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    height: 100vh;
    width: 65vw;
    row-gap: 3em;
    transition: 2s;
    user-select: none;
    opacity: 0;
}

#content_1 span {
    font-size: 25px;
}

/* Conteudo 1 (Narração) - FIM */



/* Conteúdo 2 (Parte padrão) - INICIO */

/* Header (barra de navegação) - INICIO */
#header {
    visibility: hidden;
    position: fixed;
    height: 90px;
    width: 100%;
    background: linear-gradient(90deg, #850000, #6B0000, #220101de);
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    opacity: 0;
    transition: 2s;
}

#header img {
    height: 80%;
    padding: 0 0 0 40px;
}

#header nav {
    padding: 0 40px 0 0;
}

#header nav ul {
    display: flex;
    gap: 20px;
    font-size: 20px;
    text-shadow: 2px 2px 2px var(--color-red);
}

#header nav ul li a:hover {
    color: var(--color-red);
    text-shadow: 0 0 0 transparent;
    transition: 250ms ease-in-out;
}

/* Header (barra de navegação) - FIM */


/* INICIO - Carrosel (carrosel com as imagens) */
#content_2 {
    visibility: hidden;
    opacity: 0;
    transition: 2s;
}

.carousel {
    position: absolute;
    top: var(--header-height);
    height: calc(80% - var(--header-height));
    width: 100%;
    background-color: #da9444;
}

.prev, .next {
    position: absolute;
    top: 50%;
    height: 30px;
}

.next {
    left: 95%;
}

/* FIM - Carrosel (carrosel com as imagens) */

/* Conteúdo 2 (Parte padrão) - INICIO */