h2 {
    text-align: center;
    text-shadow: 2px 2px 2px #000;
    color: #e1e1e1;
}

/* Conteúdo ao entrar no site - INICIO */
#content-1 {
    height: 100vh;
    width: 100vw;
    transition: 2s;
    background: #000;
}

#fig-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    height: 100%;
    width: 100%;
    row-gap: 3em;
    transition: 2s;
    user-select: none;
}

#fig-logo img {
    width: 65%;
    transition: 2s;
}

#fig-logo figcaption {
    font-size: 20px;
    transition: 2s;
    box-shadow: none !important;
}

#fig-logo div {
    position: absolute;
    top: 68%;
    height: 25%;
    width: 100%;
}

/* Efeito de pulsação */
.pulse {
    animation: pulse 2s infinite;
    display: table;
    animation-direction: alternate;
    animation-name: pulse;
    z-index: 1;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 6em 5px #6B0000, inset 0 0 20vw 5px #6B0000;
        filter: brightness(20%);
    }

    100% {
        box-shadow: 0 0 13em 10px var(--color-red), inset 0 0 40vw 5px var(--color-red);
        filter: brightness(100%);
    }
}

.pulseParticle {
    animation: pulse 2s infinite;
    animation-direction: alternate;
    animation-name: pulseParticle;
}

@keyframes pulseParticle {
    0% {
        filter: brightness(20%);
    }

    100% {
        filter: brightness(100%);
    }
}

/* Conteúdo ao entrar no site - FIM */

/* Conteúdo 1 (Narração) - INICIO */

#art-storyteller {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    height: 100vh;
    width: 65vw;
    row-gap: 3em;
    transition: 2s;
    user-select: none;
    opacity: 0;
}

#art-storyteller span {
    font-size: 25px;
}

/* Conteudo 1 (Narração) - FIM */

/* Conteúdo 2 (Parte padrão) */

/* INICIO - Carrosel (carrosel com as imagens) */
.slider {
    margin: 0 auto;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    display: flex;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    position: relative;
    display: flex;
    transition: 1s;
}

.slide figure {
    width: 99vw;
    display: flex;
}

.slide figure img {
    height: 100%;
}

.slide figure figcaption {
    font-size: 27px;
    width: 50%;
}

.barba-negra {
    color: #5a5a5a;
}

.big-mom {
    color: #d40b91;
}

.kaido {
    color: #207cff;
}

.shanks {
    color: #e00606;
}

.manual-navigation {
    position: absolute;
    bottom: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid var(--color-red);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #fff;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
}

#radio5:checked~.first {
    margin-left: -100%;
}


/* FIM - Carrosel (carrosel com as imagens) */

/* Sobre one piece - INICIO */
.about {
    background-color: #220101;
    margin: 20px 0;
    padding: 20px 40px;
}

.art-about {
    display: flex;
    justify-content: space-between;
}

.art-about div {
    width: 55%;
}

.art-about p {
    margin: 20px 0 0 0;
    font-size: 17px;
    text-indent: 20px;
}

.art-about img {
    height: 400px;
}

.art-about figcaption {
    padding: 0 0 0 20px;
}

/* Sobre one piece - FIM */