/* Estilizando TAGS - INICIO*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: black;
}

/* Estilizando TAGS - FIM*/

/* Imagem ao entrar no site */
.fig_inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    height: 100vh;
    width: 65vw;
    row-gap: 3em;
}

.fig_inicio img {
    box-shadow: 0 0 6em 10px red, inset 0 0 40vw 5px  red;
    width: 100%;
}

.fig_inicio figcaption {
    color: white;
    font-size: 20px;
}