body {
    background: url(../img/sistema/paper.jpg) !important;
}
/* Seleção de personagens */
.select-character {
    height: 10vh;
    width: 60%;
    margin: 10vh auto;
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    background-color: #220101;
    user-select: none;
    border-radius: 10px;
}

.select-character option {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #000;
}

.barba-negra {
    color: #000000;
    text-shadow: 2px 2px 8px #fff;
}

.big-mom {
    color: #d40b91;
}

.kaido {
    color: #0b1625;
    text-shadow: 2px 2px 8px #fff;
}

.shanks {
    color: #e00606;
}

/* Biografia do personagem */
.bio {
    width: 90%;
    margin: auto;
    background-color: #220101;
    padding: 20px 0;
    border-radius: 10px;
}

.bio h2 {
    text-align: center;
    margin: 40px 0 10px 0;
}

.bio p {
    font-size: 20px;
    width: 47%;
    text-indent: 20px;
}

.content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.char {
    height: 300px;
}